boto3==1.22.9
Flask==2.3.2
importlib-metadata==4.11.3 # req-auto-cleaner: check package usage manually
plum-py==0.7.9 # req-auto-cleaner: check package usage manually
python-dateutil==2.8.2 # req-auto-cleaner: check package usage manually
